.expandable-content-wrapper .label {
  cursor: pointer;
  position: relative;
  width: 100%;
  margin-bottom: 0
}
.expandable-content-wrapper .label:after {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg width='14' height='9' viewBox='0 0 14 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 2L7 7L12 2' stroke='black' stroke-width='2' stroke-linecap='square'/%3E%3C/svg%3E%0A");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 14px;
  height: 14px;
  transform: rotate(0);
  transition: all .4s cubic-bezier(.1, .82, .76, .965);
  right: 0;
  top: 4px;
  position: absolute
}
.expandable-content-wrapper.expanded-true .label:after {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg width='14' height='9' viewBox='0 0 14 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 2L7 7L12 2' stroke='black' stroke-width='2' stroke-linecap='square'/%3E%3C/svg%3E%0A");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotate(180deg);
  transition: all .4s cubic-bezier(.1, .82, .76, .965)
}
.expandable-inner-content {
  display: flex;
  overflow: hidden
}
.expandable-content-wrapper.expanded-true .expandable-inner-content {
  height: auto
}
.site-header.global-banner-visible {
  top: 54px
}
.site-header .header__inner-content {
  height: 60px;
  padding-right: 12px
}
.logo__wrapper {
  max-width: 180px
}
.site-header .left-nav {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - 248px);
  justify-content: flex-start;
  left: -2px;
  opacity: 0;
  position: absolute;
  top: 56px;
  transition: all .4s;
  visibility: hidden;
  width: calc(100% + 4px);
  overflow: auto;
  padding-bottom: 40px
}
.site-header .left-nav.is-active {
  transition: all .4s;
  opacity: 1;
  visibility: visible
}
.site-header .mobile__nav_item {
  display: block;
  line-height: 2.3
}
.site-header .mobile__nav_item:first-of-type {
  padding-top: 0
}
.site-header .mobile__nav_item:last-of-type {
  padding-bottom: 0
}
.site-header .nav__item .label {
  text-align: left;
  padding: 1rem 1.5rem
}
.site-header .nav__item .label:after {
  right: 20px;
  top: 20px
}
.site-header .cart__item {
  position: relative
}
.site-header .cart__item:before {
  content: "";
  position: absolute;
  width: 2px;
  background: black;
  top: -18px;
  height: 58px;
  left: 0
}
.site-header .menu-icon {
  display: none
}
.mobile-underlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background: #ffffff;
  z-index: 9;
  visibility: hidden;
  opacity: 0;
  height: 100vh;
  transition: all .4s
}
.mobile-underlay.is-active {
  opacity: 1;
  visibility: visible;
  transition: all .4s;
  height: 100vh
}
@media screen and (max-width: 768px) {
  .site-header .cart__item {
    min-width: 40px;
    margin-left: 0;
    padding-left: 14px
  }
  .site-header .menu-icon {
    display: block;
    position: relative;
    cursor: pointer;
    width: 28px;
    height: 40px
  }
  .site-header .menu-icon.has-items-true {
    width: 65px
  }
  .site-header .menu-icon .menu-icon-container {
    margin: auto;
    position: absolute;
    inset: 0;
    width: 24px;
    height: 12px
  }
  .site-header .menu-icon .menu-icon-container span {
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #101011;
    border-radius: 0;
    transition: all .2s cubic-bezier(.1, .82, .76, .965)
  }
  .site-header .nav__item .country-selector-mobile {
    position: absolute;
    width: 100%;
    right: 0
  }
  .site-header .nav__item #country-selector {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    left: 0;
    width: 100%;
    padding-right: 25px;
    padding-top: 5px;
    bottom: 0
  }
  .site-header .nav__item #country-selector .flag-icon img {
    width: auto;
    height: 17px
  }
  .site-header .nav__item #country-selector button {
    padding: 0;
    height: auto;
    background: white;
    border: 0
  }
  .site-header .nav__item .list-box-container {
    width: calc(100% - 24px);
    top: 70px;
    height: auto
  }
  .site-header.global-banner-visible .nav__item .list-box-container {
    top: 124px
  }
  .site-header .menu-icon .menu-icon-container span:first-of-type {
    top: 0
  }
  .site-header .menu-icon .menu-icon-container span:last-of-type {
    bottom: 0
  }
  .site-header .menu-icon.is-active .menu-icon-container span:first-of-type {
    transform: rotate(-45deg);
    top: 5px
  }
  .site-header .menu-icon.is-active .menu-icon-container span:last-of-type {
    transform: rotate(45deg);
    bottom: 5px
  }
}
@media screen and (min-width: 768px) {
  .site-header.global-banner-visible {
    top: 0
  }
  .site-header .left-nav {
    opacity: 1 !important;
    visibility: visible !important
  }
  .site-header .left-nav {
    display: flex;
    align-items: center;
    position: relative;
    top: 0;
    left: 0;
    flex-direction: row;
    height: auto;
    padding: 0;
    width: auto
  }
  .site-header .left-nav .mobile__nav_item {
    display: none
  }
  .site-header .cart__item:before {
    display: none
  }
  .site-header .header__inner-content {
    height: 46px;
    padding-right: 12px
  }
  .mobile-underlay {
    display: none
  }
}
.global-banner-wrapper {
  padding: 10px 50px;
  line-height: 1.4
}
.global-banner {
  display: flex;
  width: 100%;
  background: white;
  text-align: center;
  justify-content: center;
  overflow: hidden;
  align-items: center;
  z-index: 10;
  font-size: 12px
}
.global-banner .close-banner {
  position: absolute;
  right: 14px;
  width: 24px;
  height: 24px;
  top: 50%;
  transform: translateY(-50%)
}
.global-banner-spacer {
  height: 54px;
  width: 100%
}
@media screen and (min-width: 768px) {
  .global-banner-wrapper {
    padding: 10px 40px 10px 14px;
    border: 2px solid #000;
    left: 12px;
    position: fixed;
    bottom: 70px;
    width: 370px;
    top: auto;
    transform: none
  }
  .global-banner {
    text-align: left;
    font-size: 14px
  }
  .global-banner-spacer {
    display: none
  }
}
.in-stock-false .check-btn {
  opacity: .2;
  pointer-events: none;
  transition: none
}
.variant-selection-wrapper.multiple-options-allow-true .in-stock-false .check-btn {
  pointer-events: auto
}
.variant-selection-wrapper.multiple-options-allow-true .in-stock-false .check-btn.is-checked {
  opacity: 1;
  background: #ccc;
  border: 2px solid #ccc;
  color: #fff
}
.variant-selection-wrapper .variant-selection {
  display: none
}
.variant-selection-wrapper .select-variant-opener {
  cursor: pointer
}
.variant-selection-wrapper .current-selection {
  display: block
}
.variant-selection-wrapper.is-active {
  background: white;
  color: #000
}
.variant-selection-wrapper.is-active .variant-selection {
  display: grid
}
.variant-selection-wrapper.is-active .current-selection, .variant-selection-wrapper.is-active .selection-label {
  display: none
}
.variant-selection-wrapper.is-active .current-selection-toggler {
  display: block
}
.variant-selection-wrapper .current-selection-toggler {
  display: none
}
.variant-selection-wrapper .initial-state .initial-selection-name {
  display: block;
  text-align: center
}
.variant-selection-wrapper .initial-state .current-selection {
  display: none
}
.variant-selection-wrapper .initial-selection-name {
  display: none;
  text-align: center
}
.carousel-wrapper {
  background: white;
  margin: 0;
  width: 100%
}
.carousel-wrapper .swiper-wrapper {
  align-items: center
}
.carousel-wrapper .swiper {
  width: 100%;
  height: 100%;
  position: relative;
  background: white
}
.carousel-wrapper .swiper-slide {
  background: white;
  text-align: center;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  width: 60%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center
}
.carousel--store-location .carousel-wrapper .swiper-slide {
  width: 100%
}
.carousel-wrapper .swiper-navigation-next, .carousel-wrapper .swiper-navigation-prev {
  height: 2rem;
  width: 2rem;
  padding: 0;
  border-radius: 0;
  top: 50%;
  transition: all .3s;
  transform: translate(0);
  opacity: 1;
  visibility: visible;
  background-blend-mode: difference;
  mix-blend-mode: difference;
  transform: translateY(-50%);
  left: 12px;
  position: absolute;
  z-index: 20;
  cursor: pointer
}
.carousel-wrapper .swiper-slide .image-wrapper, .carousel-wrapper .swiper-slide img {
  display: block;
  height: auto;
  width: 100%
}
.carousel-wrapper .swiper-navigation-next {
  left: auto;
  right: 12px
}
@media screen and (min-width: 768px) {
  .carousel-wrapper:not(.carousel--store-location) .swiper-slide {
    height: 60vh;
    width: auto
  }
  .carousel-wrapper:not(.carousel--store-location) .swiper-slide .image-wrapper, .carousel-wrapper:not(.carousel--store-location) .swiper-slide img {
    max-height: 60vh;
    width: auto;
    max-width: 500px
  }
}
.carousel--store-location {
  --swiper-pagination-bullet-width: 7px;
  --swiper-pagination-bullet-height: 7px;
  --swiper-pagination-bullet-inactive-opacity: 1;
  --swiper-pagination-bullet-inactive-color: rgba(255, 255, 255, .5);
  --swiper-pagination-color: white
}
@media screen and (min-width: 768px) {
  .carousel--store-location {
    --swiper-pagination-bullet-horizontal-gap: 6px
  }
}
.carousel--store-location:hover .swiper-navigation-next, .carousel--store-location:hover .swiper-navigation-prev {
  opacity: 1;
  transform: translate3d(0, -50%, 0)
}
.carousel--store-location .swiper-pagination {
  display: flex;
  justify-content: center;
  bottom: 13px
}
@media screen and (min-width: 768px) {
  .carousel--store-location .swiper-pagination {
    bottom: 16px
  }
}
.carousel--store-location .swiper-pagination-bullet {
  border: 1px solid transparent;
  cursor: pointer
}
.carousel--store-location .swiper-pagination-bullet-active {
  border-color: #e0e0e0
}
.carousel--store-location .swiper-navigation-prev {
  left: 10px
}
@media screen and (min-width: 768px) {
  .carousel--store-location .swiper-navigation-prev {
    left: 13px;
    opacity: 0;
    transform: translate3d(-10px, -50%, 0)
  }
}
.carousel--store-location .swiper-navigation-next {
  right: 10px
}
@media screen and (min-width: 768px) {
  .carousel--store-location .swiper-navigation-next {
    right: 13px;
    opacity: 0;
    transform: translate3d(10px, -50%, 0)
  }
}
.carousel--store-location .swiper-navigation-next, .carousel--store-location .swiper-navigation-prev {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-blend-mode: normal;
  mix-blend-mode: normal;
  background: rgba(0, 0, 0, .5);
  transition: all .3s ease
}
.carousel--store-location .swiper-navigation-next svg, .carousel--store-location .swiper-navigation-prev svg {
  width: 5px
}
@media screen and (min-width: 768px) {
  .carousel--store-location .swiper-navigation-next, .carousel--store-location .swiper-navigation-prev {
    width: 30px;
    height: 30px
  }
  .carousel--store-location .swiper-navigation-next svg, .carousel--store-location .swiper-navigation-prev svg {
    width: 16px;
    height: 16px
  }
}
@font-face {
  font-family: IBMPlexSerif;
  font-display: swap;
  font-weight: 400;
  src: url(/fonts/IBMPlexSerif-Text.woff2) format("woff2")
}
@font-face {
  font-family: IBMPlexSerif;
  font-display: swap;
  font-weight: 400;
  font-style: italic;
  src: url(/fonts/IBMPlexSerif-TextItalic.woff2) format("woff2")
}
.player-controls-wrapper {
  background: white;
  display: flex;
  width: 482px;
  max-width: 100%
}
.player-controls-inner {
  display: flex;
  padding: 0;
  align-items: center;
  width: 100%
}
.player-control-prev {
  display: block;
  background-image: url("data:image/svg+xml,%3Csvg width='17' height='10' viewBox='0 0 17 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.25 5L13.75 0.669872L13.75 9.33013L6.25 5Z' fill='black'/%3E%3Cpath d='M5.65667e-08 5L7.5 0.669872L7.5 9.33013L5.65667e-08 5Z' fill='black'/%3E%3C/svg%3E%0A");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  min-width: 24px;
  height: 20px;
  text-indent: -9999px
}
.player-control-next {
  display: block;
  background-image: url("data:image/svg+xml,%3Csvg width='17' height='10' viewBox='0 0 17 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 5L2.5 9.33013L2.5 0.669872L10 5Z' fill='black'/%3E%3Cpath d='M16.25 5L8.75 9.33013L8.75 0.669872L16.25 5Z' fill='black'/%3E%3C/svg%3E%0A");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  min-width: 24px;
  height: 20px;
  text-indent: -9999px
}
.player-play-pause, .is-playing-false {
  display: block;
  background-image: url("data:image/svg+xml,%0A%3Csvg width='8px' height='9px' viewBox='0 0 8 9' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3Eicon-next copy%3C/title%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='icon-next-copy' fill='%23000000' fill-rule='nonzero'%3E%3Cpolygon id='Path' points='7.5 4.330128 0 8.660258 0 0'%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  min-width: 20px;
  height: 14px;
  text-indent: -9999px;
  margin: 0 8px
}
.is-playing-true {
  display: block;
  background-image: url("data:image/svg+xml,%3Csvg width='9' height='12' viewBox='0 0 9 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='2.57143' height='12' fill='black'/%3E%3Crect x='6.42847' width='2.57143' height='12' fill='black'/%3E%3C/svg%3E%0A");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  min-width: 20px;
  height: 14px;
  text-indent: -9999px;
  margin: 0 8px
}
.player-progress {
  position: relative;
  display: flex;
  height: 2px;
  margin: 0;
  display: none
}
.player-current-song {
  display: flex;
  justify-content: center;
  width: 75%;
  overflow: hidden;
  padding-left: 12px
}
.player-current-artwork {
  position: absolute;
  left: 0;
  top: -10.5px
}
.player-current-song .song-name {
  display: block;
  width: 300px;
  padding-left: 44px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap
}
.player-current-position {
  display: none;
  margin: 0 16px
}
.player-duration {
  display: none;
  margin: 0
}
.player-control-toggle {
  display: flex;
  background-size: contain;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  width: 20px;
  margin: 0 4px 0 20px;
  height: 12px;
  text-indent: -9999px;
  position: relative
}
.player-control-toggle:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #000;
  bottom: 3px;
  left: 0
}
.player-control-playlist {
  visibility: hidden;
  opacity: 0;
  outline: 2px solid #000;
  max-height: 50vh;
  overflow: auto;
  max-width: 100%;
  text-align: center;
  padding: 0;
  background: white;
  transition: all .4s;
  left: 0;
  min-width: 500px;
  bottom: 46px
}
.playlist {
  box-shadow: -6px -5px 10px #00000014
}
.player-control-playlist.is-active {
  opacity: 1;
  visibility: visible;
  transition: all .4s
}
.btn-close {
  padding: 12px 0;
  margin-top: 0;
  margin-bottom: 0;
  background: white
}
.playlist-song {
  padding: 10px 20px
}
.playlist-song.is-playing {
  background: #f4f4f4
}
@media screen and (min-width: 992px) {
  .player-progress {
    display: block
  }
  .player-current-song {
    width: 320px
  }
  .player-current-position, .player-duration {
    display: flex
  }
}
.product-listing-wrapper img {
  width: 100%;
  height: 100%;
  max-width: 85%;
  max-height: 95%;
  margin: 0 auto
}
.products-filter {
  background: white;
  border: 2px solid #000;
  bottom: 10px;
  overflow: hidden;
  position: fixed;
  right: 12px;
  text-align: center;
  width: calc(100% - 24px)
}
.products-filter .separate {
  padding: 0 32px
}
.products-filter .is-selected:before {
  content: "";
  width: 4px;
  height: 4px;
  position: absolute;
  left: 20px;
  bottom: 8px;
  background: #000000;
  border-radius: 100%
}
.products-filter .products-filter-inner {
  padding: 0;
  max-height: 0px;
  overflow: auto;
  transform-origin: bottom;
  text-align: left
}
.products-filter .clear-filter-btn {
  border-bottom: 2px solid #000;
  padding: 12px 2rem;
  text-align: center;
  margin-bottom: 26px
}
.products-filter .filter-items {
  padding: 0 24px 0 32px;
  margin: 12px 0
}
.products-filter .filter-items:first-of-type {
  margin-top: 1rem
}
.products-filter .filter-items:last-of-type {
  margin-bottom: 1rem
}
.products-filter .is-filter-true.products-filter-inner {
  max-height: calc(100vh - 240px)
}
.products-filter .underline {
  text-underline-offset: 1px
}
.products-filter .filter-items-close {
  padding: 12px 1rem 13px;
  border-top: 0 solid #000;
  cursor: pointer
}
.products-filter button:hover {
  text-decoration: underline
}
.products-filter .filter-items-close.is-filter-true {
  border-top: 2px solid #000
}
@media screen and (min-width: 768px) {
  .products-filter {
    width: 200px
  }
  .products-filter .is-filter-true.products-filter-inner {
    max-height: 520px
  }
}
.fitguide__content {
  margin: 0 auto;
  gap: 12px;
  position: relative;
  min-height: calc(100vh - 138px);
  width: calc(100vw - 24px);
  top: 68px
}
.fitguide__content .content__block {
  height: 100%;
  padding: 12px 0
}
.content__block .content__inner {
  width: 100%;
  margin-top: 12px
}
.fitguide__content .model-360-video {
  max-height: 80vh;
  max-width: calc(100vw - 48px);
  margin: 0 auto
}
.fitguide__content .model-360-video .video-wrapper, .fitguide__content .model-360-video .image-wrapper {
  width: calc(100vw - 48px);
  height: calc((100vw - 48px)*1.5);
  max-height: calc(100vh - 120px);
  margin: 0 auto;
  overflow: hidden;
  position: relative
}
.fitguide__content .model-360-video .video-wrapper video, .fitguide__content .model-360-video .image-wrapper img {
  position: absolute;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0
}
.fitguide__content .model-description {
  left: 0;
  text-align: center;
  width: 100%
}
.fitguide__content .model-360-video video.draggable {
  width: 70%;
  height: 100%;
  cursor: grab;
  touch-action: none;
  transform: translate(-50%);
  left: 53%
}
.fitguide__content .model-info-container {
  gap: 2px;
  width: 100%;
  margin: 24px 0
}
.model-info-container .model-info {
  padding: 12px;
  outline: 2px solid #000;
  text-align: center
}
.model-info-container .model-info.is-selected-true, .model-info-container .model-info:hover {
  background: #000000;
  transition: .4s all;
  color: #fff
}
.fitguide__content .illustration-image img {
  max-height: 80vh;
  max-width: 240px;
  margin: 0 auto
}
.fitguide__content .size-info-container {
  gap: 2px;
  margin-top: 24px
}
.fitguide__content .size-info {
  padding: 12px 2px;
  outline: 2px solid #000;
  text-align: center
}
.fitguide__content .select-fitguide-type {
  padding: 12px;
  outline: 2px solid #000;
  width: 100%;
  text-align: center
}
button.select-fitguide-type:after {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg width='15' height='9' viewBox='0 0 15 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.05261 2L7.40349 7L12.7544 2' stroke='black' stroke-width='2' stroke-linecap='square'/%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 13px;
  height: 13px;
  margin-left: 14px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: .4s all
}
button.select-fitguide-type.is-selected:after {
  transition: .4s all;
  transform: translateY(-50%) rotate(-180deg)
}
.fitguide__content .sizes {
  gap: 12px;
  padding: 12px;
  outline: 2px solid #000;
  width: 100%
}
.fitguide__content .size-selection, .unit-selections .unit-selection {
  outline: 2px solid #000;
  padding: 12px;
  text-align: center;
  transition: .4s all
}
.fitguide__content .size-selection:hover, .fitguide__content .size-selection.is-selected-true {
  background: #000000;
  color: #fff;
  transition: .4s all
}
.fitguide__content .available-fitguides {
  margin-top: -2px;
  gap: 2px
}
.unit-selections {
  gap: 2px
}
.unit-selections .unit-selection {
  border: 0;
  outline: 2px solid #000
}
.unit-selections .unit-selection:hover, .unit-selections .unit-selection.is-selected-true, .available-fitguides .select-fitguide-type.is-selected, .available-fitguides .select-fitguide-type:hover {
  background: #000000;
  color: #fff;
  transition: .4s all
}
@media screen and (min-width: 1024px) {
  .fitguide__content .sizes {
    gap: 12px;
    padding: 0;
    outline: 0
  }
  .content__block .content__inner {
    margin-top: 0
  }
  .fitguide__content .model-description {
    position: absolute;
    bottom: -36px;
    left: 0;
    text-align: center;
    width: 100%
  }
  .fitguide__content .content__block {
    border: 2px solid #000;
    height: 100%;
    padding: 12px
  }
  .fitguide__content .model-360-video {
    max-height: calc(100vh - 120px);
    max-width: calc(33vw - 120px)
  }
  .fitguide__content .model-360-video .video-wrapper, .fitguide__content .model-360-video .image-wrapper {
    width: calc(33vw - 120px);
    height: calc((33vw - 120px)*1.5);
    max-height: calc(100vh - 320px);
    margin: 0 auto
  }
  .fitguide__content .model-360-video .video-wrapper video, .fitguide__content .model-360-video .image-wrapper img {
    position: absolute;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0
  }
  .fitguide__content .model-info-container {
    position: relative;
    width: 100%;
    margin: 0;
    bottom: 0
  }
  .fitguide__content .illustration-image img {
    max-height: calc(100vh - 400px);
    max-width: calc(33vw - 120px)
  }
  .fitguide__content .size-info-container {
    gap: 2px;
    position: relative;
    bottom: 0;
    width: 100%
  }
  .fitguide__content .model-360-video video.draggable {
    width: 100%;
    height: 100%;
    cursor: grab;
    touch-action: none;
    transform: translate(-50%);
    left: 50%
  }
}
@media screen and (min-width: 1600px) {
  .fitguide__content .illustration-image img {
    max-height: calc(100vh - 400px);
    max-width: calc(33vw - 210px)
  }
}
.product-details .product-info {
  top: 85px;
}
.product-info-inner {
  padding: 3rem 3rem 11rem
}
.product-details .product-images {
  width: 100%
}
.product-details .product-images img {
  max-height: 300px
}
.product-details .image-wrapper img, .product-details video {
  padding: 2rem 1rem;
  max-width: 100%;
  min-height: 380px;
  -o-object-fit: contain;
  object-fit: contain
}
.product-details .story-thumbnail .image-wrapper img {
  padding: 0
}
.product-details .story__title-link {
  text-decoration: none
}
.product-details .asscociated-story .story-thumbnail {
  min-width: 100%
}
@media screen and (min-width: 768px) {
  .product-details .product-info {
    max-width: 500px;
    height: calc(100vh - 140px);
    width: 100%
  }
  .product-info-inner {
    padding: 1rem 1rem 240px
  }
  .product-details .product-images img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto
  }
  .product-details .image-wrapper.product-images .total-media-1 img {
    padding-top: 0px;
    padding-bottom: 0
  }
  .product-details .image-wrapper img {
    padding: 3rem 0
  }
  .product-details .image-wrapper img:last-of-type {
    padding-bottom: 80px
  }
  .product-details .image-wrapper img[src*=jpg], .product-details video {
    max-width: 100%;
    max-height: 100%
  }
  .product-details .shoes img {
    max-width: 100%;
    max-height: 100%;
    padding: 10rem 0 4rem
  }
  .product-details .tops img {
    max-width: 100%;
    max-height: 100%;
    padding: 5rem 0
  }
  .product-details .bottoms img {
    max-width: 100%;
    max-height: 100%
  }
  .product-details .jewelry img {
    max-width: 100%;
    max-height: 100%;
    padding: 2rem 0
  }
  .product-details .accessories img {
    max-width: 100%;
    max-height: 100%
  }
  .product-details .asscociated-story .story-thumbnail {
    min-width: 400px;
    width: 400px
  }
  .product-details .asscociated-story .story-snippet {
    max-width: 400px
  }
}
.video-player {
  background: #ffffff;
  opacity: 0;
  position: relative;
  transition: opacity .4s;
  transition-delay: 0s;
  width: 100%;
  height: 100%
}
.video-player.loaded-true {
  opacity: 1
}
.video-player.is-activate-false .video-react-control-bar {
  opacity: 0;
  visibility: hidden
}
.reel-poster {
  position: absolute;
  top: 0;
  left: 0;
  width: 102%;
  height: 102%;
  padding: 0;
  z-index: 101;
  cursor: pointer
}
.reel-poster.hidden {
  display: none
}
.reel-poster video {
  font-family: "object-fit: cover;";
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%
}
.video-react {
  height: 100% !important;
  width: 100% !important
}
.video-react {
  margin: 0 auto;
  position: relative;
  top: 0;
  outline: none;
  background: transparent;
  padding-bottom: 0
}
.video-react .video-react-fluid {
  overflow: hidden;
  outline: none
}
.video-react .video-react-poster {
  z-index: 99;
  background-color: transparent;
  background-position: center top;
  background-size: contain
}
.video-react .video-react-video {
  cursor: pointer;
  position: relative;
  outline: none;
  z-index: 99
}
.video-react.video-react-fullscreen {
  width: 100% !important;
  height: 100% !important;
  padding-top: 0 !important
}
.video-react.video-react-fullscreen {
  position: fixed;
  z-index: 999
}
.video-react.video-react-fullscreen video {
  height: 100%;
  background: black
}
.overlay-control {
  width: 100%;
  height: 100%;
  background: transparent;
  position: absolute;
  z-index: 101;
  cursor: pointer;
  left: 0;
  top: 0;
  opacity: 1;
  visibility: visible;
  transition: all .4s
}
.overlay-control.show-poster-false {
  opacity: 0;
  visibility: hidden;
  transition: all .4s;
  z-index: 99
}
.overlay-control.show-poster-false:after {
  opacity: 0;
  visibility: hidden;
  transition: all .4s;
  z-index: 99
}
.overlay-control:after {
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='46' viewBox='0 0 100 46' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='1' y='1' width='98' height='44' fill='white' stroke='black' stroke-width='2'/%3E%3Cpath d='M37.187 18.004H41.597C42.3064 18.004 42.885 18.1067 43.333 18.312C43.781 18.5173 44.1264 18.774 44.369 19.082C44.6117 19.39 44.775 19.726 44.859 20.09C44.9524 20.454 44.999 20.79 44.999 21.098C44.999 21.406 44.9524 21.742 44.859 22.106C44.775 22.4607 44.6117 22.792 44.369 23.1C44.1264 23.408 43.781 23.6647 43.333 23.87C42.885 24.066 42.3064 24.164 41.597 24.164H38.937V28H37.187V18.004ZM38.937 22.736H41.499C41.695 22.736 41.8957 22.708 42.101 22.652C42.3064 22.596 42.493 22.5073 42.661 22.386C42.8384 22.2553 42.9784 22.0873 43.081 21.882C43.193 21.6673 43.249 21.4013 43.249 21.084C43.249 20.7573 43.2024 20.4867 43.109 20.272C43.0157 20.0573 42.8897 19.8893 42.731 19.768C42.5724 19.6373 42.3904 19.5487 42.185 19.502C41.9797 19.4553 41.7604 19.432 41.527 19.432H38.937V22.736ZM46.3429 18.004H47.9389V28H46.3429V18.004ZM55.7399 26.39C55.7399 26.586 55.7632 26.726 55.8099 26.81C55.8659 26.894 55.9686 26.936 56.1179 26.936C56.1646 26.936 56.2206 26.936 56.2859 26.936C56.3512 26.936 56.4259 26.9267 56.5099 26.908V28.014C56.4539 28.0327 56.3792 28.0513 56.2859 28.07C56.2019 28.098 56.1132 28.1213 56.0199 28.14C55.9266 28.1587 55.8332 28.1727 55.7399 28.182C55.6466 28.1913 55.5672 28.196 55.5019 28.196C55.1752 28.196 54.9046 28.1307 54.6899 28C54.4752 27.8693 54.3352 27.6407 54.2699 27.314C53.9526 27.622 53.5606 27.846 53.0939 27.986C52.6366 28.126 52.1932 28.196 51.7639 28.196C51.4372 28.196 51.1246 28.1493 50.8259 28.056C50.5272 27.972 50.2612 27.846 50.0279 27.678C49.8039 27.5007 49.6219 27.2813 49.4819 27.02C49.3512 26.7493 49.2859 26.4367 49.2859 26.082C49.2859 25.634 49.3652 25.27 49.5239 24.99C49.6919 24.71 49.9066 24.4907 50.1679 24.332C50.4386 24.1733 50.7372 24.0613 51.0639 23.996C51.3999 23.9213 51.7359 23.8653 52.0719 23.828C52.3612 23.772 52.6366 23.7347 52.8979 23.716C53.1592 23.688 53.3879 23.646 53.5839 23.59C53.7892 23.534 53.9479 23.45 54.0599 23.338C54.1812 23.2167 54.2419 23.0393 54.2419 22.806C54.2419 22.6007 54.1906 22.4327 54.0879 22.302C53.9946 22.1713 53.8732 22.0733 53.7239 22.008C53.5839 21.9333 53.4252 21.8867 53.2479 21.868C53.0706 21.84 52.9026 21.826 52.7439 21.826C52.2959 21.826 51.9272 21.9193 51.6379 22.106C51.3486 22.2927 51.1852 22.582 51.1479 22.974H49.5519C49.5799 22.5073 49.6919 22.12 49.8879 21.812C50.0839 21.504 50.3312 21.2567 50.6299 21.07C50.9379 20.8833 51.2832 20.7527 51.6659 20.678C52.0486 20.6033 52.4406 20.566 52.8419 20.566C53.1966 20.566 53.5466 20.6033 53.8919 20.678C54.2372 20.7527 54.5452 20.874 54.8159 21.042C55.0959 21.21 55.3199 21.4293 55.4879 21.7C55.6559 21.9613 55.7399 22.2833 55.7399 22.666V26.39ZM54.1439 24.374C53.9012 24.5327 53.6026 24.6307 53.2479 24.668C52.8932 24.696 52.5386 24.7427 52.1839 24.808C52.0159 24.836 51.8526 24.878 51.6939 24.934C51.5352 24.9807 51.3952 25.0507 51.2739 25.144C51.1526 25.228 51.0546 25.3447 50.9799 25.494C50.9146 25.634 50.8819 25.8067 50.8819 26.012C50.8819 26.1893 50.9332 26.3387 51.0359 26.46C51.1386 26.5813 51.2599 26.6793 51.3999 26.754C51.5492 26.8193 51.7079 26.866 51.8759 26.894C52.0532 26.922 52.2119 26.936 52.3519 26.936C52.5292 26.936 52.7206 26.9127 52.9259 26.866C53.1312 26.8193 53.3226 26.74 53.4999 26.628C53.6866 26.516 53.8406 26.376 53.9619 26.208C54.0832 26.0307 54.1439 25.816 54.1439 25.564V24.374ZM56.6592 20.762H58.4092L60.2992 26.166H60.3272L62.1612 20.762H63.8272L61.0132 28.392C60.8825 28.7187 60.7519 29.0313 60.6212 29.33C60.4999 29.6287 60.3459 29.89 60.1592 30.114C59.9819 30.3473 59.7579 30.5293 59.4872 30.66C59.2165 30.8 58.8712 30.87 58.4512 30.87C58.0779 30.87 57.7092 30.842 57.3452 30.786V29.442C57.4759 29.4607 57.6019 29.4793 57.7232 29.498C57.8445 29.526 57.9705 29.54 58.1012 29.54C58.2879 29.54 58.4419 29.5167 58.5632 29.47C58.6845 29.4233 58.7825 29.3533 58.8572 29.26C58.9412 29.176 59.0112 29.0733 59.0672 28.952C59.1232 28.8307 59.1745 28.6907 59.2212 28.532L59.4032 27.972L56.6592 20.762Z' fill='black'/%3E%3C/svg%3E%0A");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  content: "";
  width: 6rem;
  height: 4rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}
.video-react-big-play-button {
  display: none
}
.video-react-has-started.video-react-user-active .video-react-control-bar, .video-react-has-started .video-react-control-bar {
  display: block;
  z-index: 102
}
.video-react-has-started.video-react-user-inactive.video-react-playing .video-react-control-bar.video-react-control-bar-auto-hide {
  display: block
}
.video-react-control-bar.hasMoved {
  opacity: 1 !important
}
.video-react-control-bar {
  position: relative;
  display: block;
  opacity: 1;
  height: 2rem;
  padding-top: 0;
  margin-top: 1.5rem;
  bottom: 0;
  width: 100%;
  left: 0;
  z-index: 100;
  outline: none
}
.video-react-progress-control {
  width: calc(100% - 124px);
  height: 2px;
  cursor: crosshair;
  position: relative;
  left: 75px
}
.video-react-progress-holder {
  background-color: #ddd;
  outline: none;
  height: 2px
}
.video-react-play-progress {
  height: 100% !important
}
.video-react-play-progress {
  background: #000
}
.video-react-play-progress:before {
  display: none
}
.video-react .video-react-time-tooltip, .video-react .video-react-mouse-display:after, .video-react .video-react-play-progress:after {
  display: none
}
.video-react-load-progress {
  display: none !important
}
.video-react-play-control {
  height: 2rem;
  width: 12px;
  background-image: url("data:image/svg+xml,%3Csvg width='51px' height='59px' viewBox='0 0 51 59' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3Eplay-white%3C/title%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='play-white' transform='translate(3.000000, 5.000000)' fill='%23000000' fill-rule='nonzero' stroke='%23000000' stroke-width='5'%3E%3Cpolygon id='Path' points='39 26.84683 42.75 24.68173 39 22.51663 3.75 2.16507 0 0 0 4.33013 0 45.03333 0 49.36343 3.75 47.19843'%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  font-family: Helvetica Neue;
  text-align: left;
  left: 0;
  bottom: 15px
}
.video-react-play-control:before {
  display: none
}
.video-react-play-control.video-react-playing {
  background-image: url("data:image/svg+xml,%3Csvg width='41px' height='58px' viewBox='0 0 41 58' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3Epause%3C/title%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='pause' fill='%23000000' fill-rule='nonzero'%3E%3Crect id='Rectangle' x='31' y='0' width='10' height='58'%3E%3C/rect%3E%3Crect id='Rectangle' x='0' y='0' width='10' height='58'%3E%3C/rect%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  width: 10px
}
.video-react-play-control .video-react-control-text {
  display: none
}
.video-react-volume-menu-button {
  position: absolute;
  right: 120px;
  width: 80px
}
.video-react-slider-bar .video-react-control-text {
  display: none
}
.video-react .video-react-slider:focus {
  text-shadow: none;
  box-shadow: none
}
.video-react-current-time {
  position: absolute;
  left: 24px;
  font-size: 14px;
  font-family: Helvetica Neue;
  bottom: 14px;
  height: 28px;
  padding: 0 2px 0 0;
  background: none;
  width: 46px;
  text-align: left
}
.video-react-current-time .video-react-control-text {
  display: none
}
.video-react-duration {
  position: absolute;
  right: 0;
  font-size: 14px;
  font-family: Helvetica Neue;
  bottom: 15px;
  height: 28px;
  text-align: right;
  width: 46px
}
.video-react-duration .video-react-control-text, .video-react-volume-bar, .video-react-menu {
  display: none
}
.video-react-menu-content {
  height: 0 !important
}
.video-react-fullscreen-control {
  position: absolute;
  right: 0;
  bottom: 23px;
  text-indent: -9999px;
  background-image: url("data:image/svg+xml,%3Csvg width='21' height='20' viewBox='0 0 21 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_2211_2482)'%3E%3Cpath d='M20.1699 7.49984H17.5033V4.33317H12.6699V1.6665H20.1699V7.49984ZM12.6699 18.3332V15.6665H17.5033V12.4998H20.1699V18.3332H12.6699ZM0.169922 12.4998H2.83659V15.6665H7.66992V18.3332H0.169922V12.4998ZM7.66992 1.6665V4.33317H2.83659V7.49984H0.169922V1.6665H7.66992Z' fill='black'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_2211_2482'%3E%3Crect width='20' height='20' fill='white' transform='translate(0.169922)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  background-position: center center;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  background-size: contain
}
.home__mobile .video-react:not(.video-react-has-started) > .video-react-video {
  display: none
}
.home__mobile .video-react.video-react-has-started > .video-react-video {
  display: block
}
.email-sms-form {
  background: white;
  border: 2px solid #000;
  bottom: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.4;
  min-height: 50px;
  padding: 10px 18px;
  position: fixed;
  right: 12px;
  top: auto;
  width: calc(100% - 24px);
  z-index: 9
}
.email-sms-form .close-banner {
  right: 14px;
  position: absolute;
  top: 12px;
  width: 24px;
  height: 24px
}
.email-sms-form .disclaimer {
  font-size: 10px;
  line-height: 1.5;
  margin-bottom: 1rem
}
.email-sms-form .intro-signup {
  text-align: center
}
.back-in-stock-form .form-content {
  justify-content: center;
  align-items: center
}
.back-in-stock-form .form-content input {
  border: 2px solid #000;
  padding: 10px;
  margin-bottom: 12px
}
.back-in-stock-form .form-content button {
  height: 45px;
  display: flex;
  align-items: center
}
@media screen and (min-width: 768px) {
  .intro-signup {
    text-align: left
  }
}
.content__block {
  margin: 4rem auto;
  width: 100%
}
.total-blocks-1 .content__block {
  margin: 4rem auto 0
}
.content__block-inner .content__block:first-of-type {
  margin-top: 80px
}
.content__block-sizeguide {
  padding: 0 12px
}
.content__block p {
  white-space: pre-wrap;
  margin-bottom: 1rem
}
.content__block-text {
  margin-bottom: 0
}
.content__block-text, .content__block-quote, .content__block-sizeguide {
  margin: 2rem auto
}
.content__block-spacer {
  margin: 0;
  padding: 2rem 0
}
.content__block.content__block-full {
  max-width: 100% !important;
  padding: 0 !important
}
.content__block-footer {
  line-height: 2;
  padding: 8rem 0
}
.content__block div[class^=kl-private-reset], .content__block div[class*=" kl-private-reset"] {
  z-index: inherit !important
}
.content__block div[role^=listbox] {
  z-index: 90000 !important
}
.story__content .content__block {
  max-width: 540px;
  margin: 4rem auto
}
.story__content .content__block:last-of-type {
  margin-bottom: 150px
}
.story__content .content__block.content__block-video-player {
  width: 100%;
  padding-bottom: 40px
}
.story__content .content__block.story__intro {
  margin-bottom: 40px
}
.story__content .content__block-inner .content__block:first-of-type {
  margin-top: 40px
}
.story__content .content__block.story__intro, .story__content .content__block.content__block-text, .story__content .content__block.content__block-related-products, .story__content.content__block-quote {
  padding: 0 2rem
}
@media screen and (min-width: 768px) {
  .content__block {
    max-width: 540px
  }
  .story__content .content__block {
    max-width: 540px;
    margin: 125px auto
  }
  .story__content .content__block.story__intro, .story__content .content__block.content__block-text, .story__content .content__block.content__block-related-products, .story__content .content__block-quote {
    padding: 0 12px
  }
}
.stories-layout {
  width: calc(100vw - 24px);
  margin: 0 auto;
  outline: 2px solid #000;
  top: 68px;
  position: relative;
  overflow: hidden
}
.stories-layout:after {
  background: white;
  bottom: -12px;
  content: "";
  height: 24px;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 8
}
.stories-container {
  position: relative;
  width: 100%;
  overflow: auto;
  display: flex;
  gap: 2px;
  height: 100%
}
.group-stories {
  gap: 2px;
  display: flex;
  overflow: auto;
  outline: 2px solid #000;
  height: calc(100vh - 144px);
  position: relative;
  width: 100%
}
.story-content {
  background: white;
  gap: 2px;
  padding: 12px 0;
  min-width: 140px;
  width: 100%;
  margin-left: 0;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  outline: 2px solid #000;
  overflow: hidden;
  cursor: pointer;
  transition: all .6s ease
}
.story-content .content__block, .story-content .content__block-text, .story-content .content__block-image, .story-content .content__block-looping-video, .story-content .content__block-video-player, .story-content .content__block-related-products, .story-content .content__block-quote, .story-content.story-open .content__block, .story-content.story-open .content__block-text, .story-content.story-open .content__block-image, .story-content.story-open .content__block-looping-video, .story-content.story-open .content__block-video-player, .story-content.story-open .content__block-related-products, .story-content.story-open .content__block-quote {
  padding: 0 14px
}
.story-content:hover {
  transform: translate(20px)
}
.story-content .inner-story {
  min-width: 100%;
  position: relative
}
.story-content .overlay-story-link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-indent: -9999px;
  z-index: 1000
}
.story-content.story-close .story__intro {
  margin: 20px 0
}
.story-content.story-close .story__title {
  display: none
}
.story-content.story-close .carousel-wrapper .swiper-slide {
  width: 100%
}
.story-content.story-close .carousel-wrapper .swiper-navigation-next, .story-content.story-close .carousel-wrapper .swiper-navigation-prev {
  display: none
}
.story-content.story-open {
  max-width: 840px;
  margin-right: auto;
  min-height: 100%;
  width: 100%;
  margin-left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  transition: wdith .6s ease
}
.story-content.story-open:hover {
  transform: none
}
.story-content.story-open .inner-story {
  align-items: flex-start;
  display: flex;
  justify-content: center;
  min-height: 120vh;
  width: 100%;
  padding-right: 0
}
.story-content.story-open .story__date-short {
  display: none
}
.back-to-start {
  width: 100%;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center
}
.stories-pagination {
  align-items: center;
  background: white;
  outline: 2px solid black;
  bottom: 10px;
  display: flex;
  height: 60px;
  justify-content: space-between;
  padding: .75rem 1rem;
  position: fixed;
  right: .75rem;
  width: calc(100% - 24px);
  z-index: 2
}
.stories-pagination .story-nav {
  min-width: 70px
}
.stories-pagination svg {
  max-width: 100%
}
.story-list-wrapper {
  opacity: 0;
  background: white;
  visibility: hidden;
  transition: all .4s;
  position: fixed;
  bottom: 70px;
  left: 12px;
  outline: 2px solid #000;
  width: 100%;
  height: auto;
  z-index: 8;
  width: calc(100vw - 24px);
  max-height: 50vh;
  overflow: auto;
  text-align: center;
  line-height: 32px;
  padding: 14px
}
.story-list-wrapper.is-active {
  opacity: 1;
  visibility: visible;
  transition: all .4s
}
@media screen and (min-width: 768px) {
  .stories-layout {
    top: 70px
  }
  .story-content {
    width: 160px;
    margin-left: -20px
  }
  .story-content.story-open .story__date-short .content__block.content__block-video-player {
    max-width: 80%
  }
  .story-content .content__block, .story-content .content__block-text, .story-content .content__block-image, .story-content .content__block-looping-video, .story-content .content__block-video-player, .story-content .content__block-related-products, .story-content .content__block-quote {
    padding: 0
  }
  .story-content .inner-story {
    min-width: 540px;
    padding-right: 24px
  }
  .stories-pagination {
    width: 200px;
    bottom: .75rem;
    height: 46px
  }
}
@media screen and (min-width: 992px) {
  .story-content.story-open {
    max-width: 840px
  }
}
@media screen and (min-width: 1400px) {
  .story-content.story-open {
    max-width: 1140px
  }
}
@media screen and (min-width: 1920px) {
  .story-content.story-open {
    max-width: 1680px
  }
}
@media screen and (min-width: 2560px) {
  .story-content.story-open {
    max-width: 100%
  }
}
.home__mobile .asset {
  position: relative;
  margin-top: -60px
}
.home__mobile .asset:first-of-type {
  margin-top: -20px
}
.home__mobile.collage-type-background-only .asset {
  position: relative;
  margin-top: -100px;
  transform: scale(1.5)
}
.home__mobile.collage-type-collections {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
  width: 110%
}
.home__mobile.collage-type-collections .asset {
  position: relative;
  margin-top: -120px
}
.home__mobile.collage-type-collections .asset:nth-of-type(2n) img {
  max-width: 400px;
  max-height: 522px;
  height: auto;
  width: auto;
  position: relative;
  margin-left: -10%
}
.home__mobile.collage-type-collections .asset:nth-of-type(2n + 1) img {
  max-width: 400px;
  max-height: 500px;
  height: auto;
  width: auto;
  position: relative;
  margin-left: auto
}
.video-react-progress-control, .video-react-play-control, .video-react-current-time, .video-react-duration {
  display: none
}
.video-react .video-react-play-control {
  bottom: 60px;
  left: 12px;
  display: block;
  background: url(/play-white.svg) center center no-repeat;
  background-size: contain
}
.video-react .video-react-play-control.video-react-playing {
  background: url(/pause-white.svg) center center no-repeat;
  background-size: contain
}
.video-react .video-react-fullscreen-control {
  bottom: 66px;
  right: 12px;
  background: url(/icon-full-screen-white.svg) center center no-repeat;
  background-size: contain
}
#player-mobile-video {
  opacity: 1;
  visibility: inherit;
  position: fixed;
  width: 100%;
  z-index: 8;
  height: auto;
  left: 0;
  padding: 12px;
  background: transparent;
  top: 50%;
  transform: translateY(-50%)
}
.overlay-control:after {
  display: none
}